<section class="row">
  <div class="sign-up">
    <form action="/workout" method="get" class="auth-form">
      <p class="input-field">
        Email:<input type="email" name="email" placeholder="Email Please">
      </p>
      <p class="input-field">
        Password: <input type="password" name="password" placeholder="Secret Words">
      </p>
      <p class="input-field">
        <input type="submit" value="Sign Up" class="btn">
      </p>
    </form>
  </div>
</section>